<div class="header-wrapper">
    <%= link_to root_path do %>
        <div class="logo-wrapper">
            <span>Friend Quiz</span>
        </div>
    <% end %>
    <div class="header-button-wrapper">
        <%= link_to quiz_friend_list_path do %>
            <div class="edit-button-wrapper">
                <span class="material-icons-outlined">people</span>
            </div>
        <% end %>
        <%= link_to quiz_edit_path do %>
            <div class="friend-add-button-wrapper">
                <span class="material-icons-outlined">person_add</span>
            </div>
        <% end %>
    </div>
</div>