@import "reset";
@import "header";
@import "footer";
@import "friend_card";
@import "explanation";
@import "friend_list";
@import "edit";
@import "quiz";
@import "show_answer";
@import "input_answer";
@import "show_ranking";
@import "sessions";

$breakpoint: 767px;
@mixin cp() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
body {
  margin: 80px 3% 0;
  min-width: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  @include cp() {
    margin: 65px 0 0;
    min-width: 0;
  }
  .u-hide {
    display: none !important;
  }
}
