.exp-wrapper {
    width: 100%;
    min-width: 780px;
    height: 500px;
    margin: 10px 0;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    background-color: black;
    .greeting {
        font-size: 20px;
        color: white;
    }
    .procedure {
        font-size: 20px;
        color: white;
    }
    .start {
        font-size: 60px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}