$breakpoint: 767px;
@mixin cp() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin pc() {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.exp-wrapper {
  width: 100%;
  min-width: 780px;
  height: 500px;
  margin: 10px 0;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  background-color: black;
  @include cp() {
    display: none;
  }
  .greeting {
    font-size: 20px;
    color: white;
  }
  .procedure {
    font-size: 20px;
    color: white;
  }
  .start {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.cp-exp-wrapper {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 0px 20px;
  border-radius: 10px;
  position: relative;
  @include pc() {
    display: none;
  }
  .greeting {
    font-size: 20px;
    color: black;
  }
  .procedure {
    font-size: 20px;
    color: black;
  }
  .start {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
