.footer-wrapper {
  margin: 20px auto;
  width: 310px;
  height: 60px;
  .button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    .back-wrapper {
      span {
        color: black;
        text-decoration: none;
        font-size: 40px;
        cursor: pointer;
      }
    }
    .forward-wrapper {
      span {
        color: black;
        text-decoration: none;
        font-size: 40px;
        cursor: pointer;
      }
    }
    .quiz-forward-wrapper {
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      .answer-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
        .answer-check {
          color: red;
          display: inline-block;
          vertical-align: top;
          font-size: 22px;
          padding: 5px;
        }
        .arrorw-forward {
          color: red;
          font-size: 40px;
        }
      }
      .pre-select-answer {
        font-size: 20px;
      }
    }
    .show-answer-forward-wrapper {
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      .list-link-second {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
        .go-to-list {
          color: black;
          display: inline-block;
          vertical-align: top;
          font-size: 22px;
          padding: 5px;
        }
        span {
          color: black;
          font-size: 40px
        }
      }
    }
  }
}
