.header-wrapper {
  width: 77%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  background-color: white;
  margin-top: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  .logo-link {
    text-decoration: none;
    .logo-wrapper {
      height: 100%;
      width: 200px;
      min-width: 200px;
      padding: 14px 0;
      vertical-align: top;
      text-align: center;
      span {
        font-size: 22px;
        font-weight: bold;
        color: black;
      }
    }
  }
  .header-button-wrapper {
    width: 120px;
    display: flex;
    align-items: center;
    .edit-button-wrapper {
      width: 50px;
      text-align: center;
      span {
        color: black;
      }
    }
    .friend-add-button-wrapper {
      width: 50px;
      text-align: center;
      span {
        color: black;
      }
    }
  }
  .login-info-wrapper {
    height: 100%;
    width: 200px;
    min-width: 200px;
    position: relative;
    .logged-in-name {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);
    }
    .logout {
      color: black;
      position: absolute;
      top: 50%;
      right: 12%;
      transform: translate(0, -50%);
    }
  }
}
