.header-wrapper {
  padding: 0 15%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  @include media() {
    padding: 0;
  }
  .logo-link {
    text-decoration: none;
    .logo-wrapper {
      height: 100%;
      width: 200px;
      min-width: 200px;
      padding: 14px 0;
      vertical-align: top;
      text-align: center;
      @include media() {
        width: 100px;
        min-width: 0;
      }
      span {
        font-size: 12px;
        font-weight: bold;
        color: black;
      }
    }
  }
  .header-button-wrapper {
    width: 120px;
    display: flex;
    align-items: center;
    @include media() {
      width: 90px;
    }
    .input-answer-button-wrapper {
      width: 50px;
      text-align: center;
      @include media() {
        width: 30px;
      }
      span {
        color: black;
        @include media() {
          font-size: 15px;
        }
      }
    }
    .edit-button-wrapper {
      width: 50px;
      text-align: center;
      @include media() {
        width: 30px;
      }
      span {
        color: black;
        @include media() {
          font-size: 15px;
        }
      }
    }
    .friend-add-button-wrapper {
      width: 50px;
      text-align: center;
      @include media() {
        width: 30px;
      }
      span {
        color: black;
        @include media() {
          font-size: 15px;
        }
      }
    }
  }
  .login-info-wrapper {
    height: 100%;
    width: 200px;
    min-width: 200px;
    position: relative;
    @include media() {
      width: 100px;
      min-width: 100px;
    }
    .logged-in-name {
      position: absolute;
      top: 50%;
      right: 30%;
      transform: translate(0, -50%);
      @include media() {
        font-size: 10px;
      }
    }
    .logout {
      color: black;
      position: absolute;
      top: 50%;
      right: 12%;
      transform: translate(0, -50%);
      @include media() {
        font-size: 15px;
      }
    }
  }
}
