$breakpoint: 767px;
@mixin cp() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin pc() {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ranking-wrapper {
  width: 100%;
  min-width: 780px;
  margin: 0 auto;
  .ranking-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
    td {
      height: 50px;
    }
    .ranking {
      width: 100px;
      font-size: 20px;
      text-align: center;
      border-radius: 10px;
      color: white;
      &.ranking-1 {
        background-color: gold;
      }
      &.ranking-2 {
        background-color: silver;
      }
      &.ranking-3 {
        background-color: brown;
      }
    }
    .names {
      overflow-x: hidden;
      width: 400px;
      min-width: 400px;
      font-size: 20px;
    }
    .score {
      font-size: 20px;
    }
  }
}
